.div{
    display: inline-block;
}

.text-filtragem {
    width: 80%;
}

.div-botao-filtragem {
    margin-left: 30px;
}

.card-content {
    background-color: #34A4D4;
}

.nome-user {
    display: inline-block;
    color: white;
    margin-left: 15px !important;
    font-family: 'Lucida Sans';
}

.card-title {
    color: white;
    font-family: 'Lucida Sans';
    font-weight: bold;
}

.imagem-jogo {
    max-height: 185px;
}

.div-title-card{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}