svg {
    transform: rotate(-90deg);
}

.item {
    position: relative;
}

#tempo-pergunta {
    text-align: center;
    position: absolute;
    line-height: 85px;
    width: 100%;
    color: white;
    font-family: cursive;
}

.circle_animation {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 1s linear;
}

.div-timer{
    text-align: center;
}

.div-logo{
    margin-bottom: 0;
}

.div-opcao {
    text-align: center;
    height: 150px;
}

.selected {
    border: 4px solid black;
}

.opcao {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    color: white;
    font-size: 90px;
}