@model FerramentaPedagogica.Areas.Administrador.Models.ExplorarViewModel

@{
    ViewData["Title"] = "Explorar";
}

<div class="row">
    <div class="input-field col s8 offset-s2 l6 offset-l3 center-align">
        <div class="div input-field text-filtragem">
            <input id="termo-pesquisa" type="text" class="validate">
            <label for="termo-pesquisa">Pesquise por palavras-chave no título ou descrição dos jogos</label>
        </div>
        <div class="div div-botao-filtragem">
            <a id="botao-filtragem" class="btn-floating btn-large waves-effect waves-light blue" data-ajax-url="@Url.Action("_ListaJogos", "Explorar", new { Usuario = Model.CodigoUsuario })"><i class="material-icons">search</i></a>
        </div>
    </div>
</div>

<div id="lista-jogos" class="row">
    @await Html.PartialAsync("_ListaJogos", Model.Jogos)
</div>

@section scripts {
    <script src="~/js/Administrador/Explorar/Explorar.js"></script>
}

<link rel="stylesheet" href="~/css/Explorar.css" />
