h1{
    font-family: 'Lucida Sans';
    color: white;
}

.div-titulo{
    border-bottom: 2px solid white;
}

.collection-item {
    background-color: transparent !important;
    font-size: 25px;
    color: white;
}
