<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plaquiz</title>
    <link rel="stylesheet" href="~/css/materialize.css" />
    <link rel="stylesheet" href="~/css/Menu.css" />
    <link rel="stylesheet" href="~/css/Global.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                @await Component.InvokeAsync("MenuTopo")
            </div>
        </nav>
        <div class="progress" style="display: none">
            <div class="indeterminate"></div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/materialize.js" asp-append-version="true"></script>
    <script src="~/js/material-dialog.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery.form/jquery.form.js"></script>
    <script src="~/js/Administrador/Menu/Menu.js"></script>
    @RenderSection("Scripts", required: false)

    <div id="modal-dados-usuario" class="modal">

    </div>

    <div id="modal-criar-jogo" class="modal">

    </div>
</body>
</html>
