@{
    ViewData["Title"] = "Início";
}

<h2>Meus jogos</h2>

<div class="card">
    <div class="card-content">
        <div class="div-card">
            <span class="text-name-game">Nome do Jogo</span> <br>
            <span class="text-data-criacao">Data da criação: 29/03/2000</span>
        </div>
        <div class="div-card div-botoes right">
            <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">play_arrow</i></a>
            <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">edit</i></a>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">clear</i></a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <div class="div-card">
            <span class="text-name-game">Nome do Jogo</span> <br>
            <span class="text-data-criacao">Data da criação: 29/03/2000</span>
        </div>
        <div class="div-card div-botoes right">
            <a class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">play_arrow</i></a>
            <a class="btn-floating btn-large waves-effect waves-light green"><i class="material-icons">edit</i></a>
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">clear</i></a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/Inicio.css" />