@{
    ViewData["Title"] = "Pergunta 1";
}

<div class="row">
    <div class="col s12 div-timer">
        <div class="item">
            <h2 id="tempo-pergunta">10</h2>
            <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none" />
            </svg>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6 div-opcao red">
        <span class="opcao">A</span>
    </div>
    <div class="col s6 div-opcao blue">
        <span class="opcao">B</span>
    </div>
    <div class="col s6 div-opcao yellow">
        <span class="opcao">C</span>
    </div>
    <div class="col s6 div-opcao green">
        <span class="opcao">D</span>
    </div>
</div>

<link rel="stylesheet" href="~/css/Pergunta.css" />

@section scripts {
    <script src="~/js/Jogador/Pergunta.js"></script>
}
